.post-border {
  border: 1px;
  border-style: solid;
  border-color: black;
  margin-top: 1em;
  margin-left: 13em;
  margin-right: 13em;
  padding: 1.5em;
  border-radius: 20px;
}

.post-name {
  font-size: 22px;
  font-weight: bolder;
}

.post-content {
  font-size: 20px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
