.post-border {
  border: 2px;
  border-style: solid;
  border-color: royalblue;
  margin-top: 0.1em;
  margin-left: 16.5em;
  margin-right: 16.5em;
  padding: 1.5em;
  border-radius: 20px;
}

.post-name {
  font-size: 20px;
  font-weight: bolder;
}

.post-content {
  font-size: 19px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
