.border-box {
  display: flex;
  border: 2.5px;
  border-style: solid;
  border-color: black;
  background-color: white;
  margin-top: 3em;
  margin-right: 36em;
  margin-left: 36em;
  margin-bottom: 3em;
  padding: 1.5em;
  border-radius: 20px;
}
